<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>使用条款</title>
</head>

<body>
<h2><center>使用条款</center></h2>
<p>露露乐蒙贸易（上海）有限公司（简称“lululemon”）为了予您方便，授予您其微信商城（简称为“公司微商城”）的访问权以及公司微商城上的应用程序（以下简称“App”）的使用权，条件是您接受此处的条款、条件和声明（本“使用条款”）。于本使用条款而言，“内容”是指以下总和：任何文本、图像、图形、软件、源代码、App、规范、音频文件、视频、文章、商标、徽标和公司微商城提供的不属于提交内容（定义见下文）的其他信息或内容，包括但不限于该等内容的设计、结构、选择、协调、措辞、“界面外观”和编排。</p>
<p>1. 条款的接受。</p>
<p>请仔细阅读本使用条款以及lululemon隐私政策。使用公司微商城和 App，即表示您同意本使用条款以及您同意本使用条款及公司隐私政策中所述的信息收集、使用和披露。若您不同意本使用条款以及公司隐私政策的条款和条件，您必须立即退出本站并不再使用公司微商城、公司 App 及其任何内容。若您不同意本条款以及lululemon隐私政策，则您将无法下载和使用 App。您使用公司微商城和 App 即等于您同意遵守以下所有条款。lululemon可随时更改本条款，方式是在公司微商城上发布更新后的使用条款或者发送更改的电子邮件通知给注册用户。若您不接受任何修改，您应停止使用公司微商城和 App。若您不停止使用这些网站和 App，即等于您已接受变更。本使用条款不以任何方式改变您可能与 lululemon 或其附属机构之间关于其他产品或服务的任何其他协议的条款或条件。</p>
<p>您还受到 lululemon 隐私政策的约束。</p>
<p>本使用条款更新于 2018年6月8日</p>
<p>2. 使用和限制。</p>
<p>公司微商城和 App 只允许同时满足以下条件的人士访问和使用：可以根据适用法律形成具有法律约束力之合约、年满 18 岁、未被适用法律禁止使用公司微商城和 App。</p>
<p>公司微商城和 App 只为方便之故提供，不得作为商业用途。您访问和使用公司微商城和 App 时必须符合所有适用法律法规以及本使用条款。您确认并同意 lululemon 可根据自行判断且无需通知也无需对您承担任何其他义务地暂停或永久终止并拒绝任何及全部当前及未来对公司微商城和 App 的访问和使用。您还同意您不会：(a) 出于商业目的转售通过使用公司微商城购买的产品；(b) 转售公司微商城或 App 或其中内容或者用于商业目的；(c) 修改、传播、传输、展示、表演、复制、发表、许可、创建衍生作品、转让或销售任何内容；(d) 收集或使用任何产品列表或描述；(e) 对公司微商城和 App 使用任何数据挖掘、网络机器人或类似数据收集和提取方法；(f) 除了本使用条款明确允许的公司微商城和 App 使用外，访问或试图访问公司微商城和 App 托管的任何系统或服务器或者以任何形式修改或改变公司微商城和 App；(g) 伪造标头、创建虚假身份或以其他方式操纵标识符，从而欺骗他人或掩饰任何内容或传输到公司微商城和 App 或经过公司微商城和 App 传输的其他信息的来源；(h) 未经 lululemon 明确同意时使用、设置框架或利用框架技术纳入任何 lululemon 商标、徽标或其他专有信息（包括公司微商城和 App 上的图像、任何文本的内容或任何页面的编排/设计或页面上包含的图表）；(i) 未经 lululemon 明确同意时使用含有 lululemon 名称、商标或产品名称的元标签或任何其他“隐藏文本”。</p>
<p>未经授权使用公司微商城和 App 将造成本使用条款授予的许可被终止，导致您被禁止使用公司微商城和 App，并可能触犯适用法律，包括但不限于著作权法、商标法（包括商品外观）和网络安全法规和法令。</p>
<p>3. 版权</p>
<p>内容、公司微商城、App 以及它们的选择和编排是 lululemon 和/或其许可方的专有财产，受专利、版权、商标和其他知识产权法律的保护，除非符合本使用条款或经 lululemon 明确书面同意，否则不得使用。除非对您根据本使用条款使用公司微商城和 App 有必要，否则 lululemon 不授予内容的其他特权或权利给您，您必须对内容的所有专利、版权、商标和其他所有权声明保持原样。lululemon 许可方拥有的任何内容可能还需遵守其他限制。除非本使用条款明确规定，否则未经 lululemon 的明确事先书面同意，App、公司微商城的任何部分以及任何内容都不得以任何形式复制、转载、翻印、上传、发布、公开展示、编码、解译、传输或传播到任何其他计算机、服务器、网站或其他媒介用于发表或传播或任何商业用途。</p>
<p>4. 商标</p>
<p>公司微商城和 App 上出现的所有商标、服务标志、商品名称、徽标或商品外观（无论是否注册，统称为“标志”）是 lululemon 或其各自所有人的专有财产。未经 lululemon 的事先书面同意，您不得展示或复制标志，您也不得从任何内容中移除或以其他方式修改任何商标声明。标志受商标、商品外观、版权和各类其他知识产权和不公平竞争法律的保护。</p>
<p>此外，所有页面标头、自定义图形、按钮图标和脚本属于 lululemon 或其各自所有人的商标、服务标志、商品名称和/或商品外观，未经 lululemon 的事先书面同意不得复制、抄袭或使用，不论是全部还是部分。</p>
<p>LULULEMON、LULULEMON ATHLETICA、LULULEMON LOGO 设计、BOOLUX、DANCEFLOSSTRAVEL、GROOVE、GROOVE PANT、IVIVVA ATHLETICA、LUON、LUXTREME、OQOQO、SILVERSCENT、SOYLA、VITASEA、WDW 标志已在中国商标局注册。</p>
<p>5. 您的账户</p>
<p>要通过使用公司微商城购买产品或服务，您必须在 lululemon 创建一个账户。以下责任由您全权承担：(i) 为您的账户和账户密码保密；(ii) 限制他人访问您的计算机和账户；(iii) 确保您账户中显示的您的电子邮箱及手机号码是当前有效的。使用您的账户或您的账户密码发生的所有活动（包括但不限于通过使用公司微商城购买产品和服务）由您全权负责。</p>
<p>您确认和同意 lululemon 可以访问、保存和披露您的账户信息、所有提交内容（定义见下文）、所有与您的通信、您使用公司微商城的所有相关信息以及您的账户或账户密码发生的公司微商城使用的所有相关信息（如果法律或法律程序要求 lululemon 这么做，或者 lululemon 根据自行判断决定为保护 lululemon、第三方和公司微商城的其他用户或者为了回复您的客户服务请求而有必要采取上述行动）。lululemon 披露任何上述信息的权利凌驾于公司隐私政策的任何条款之上。</p>
<p>6. 销售条款</p>
<p>您同意接收 lululemon 的电子通信，包括发送电子邮件及/或短消息等到您的账户中显示的您的电子邮箱及/或手机号码等以及发布在公司微商城和 App 上的通信。您确认并同意以上述电子邮件或公司微商城和 App 发布为形式的任何电子通信应满足该通信必须为书面形式的任何法律要求。</p>
<p>7. 电子通信</p>
<p>您同意接收 lululemon 的电子通信，包括发送电子邮件及/或短消息等到您的账户中显示的您的电子邮箱及/或手机号码等以及发布在公司微商城上的通信。您确认并同意以上述电子邮件或公司微商城发布为形式的任何电子通信应满足该通信必须为书面形式的任何法律要求。</p>
<p>8. 提交内容</p>
<p>您确认您为您提交、上传、发布或以其他方式提供到或通过公司微商城和 App 提供以及通过公司微商城和 App 相关的可用服务提供的信息、个人资料、目标、观点、消息、评论、照片、视频和任何其他内容或材料（分别称为“提交内容”）负责，并且该等提交内容（包括其合法性、可靠性、恰当性以及商标、版权和其他知识产权归属）的全部责任在您，而不在 lululemon。在提交任何内容之前，您必须确保您拥有所有知识产权或者有权授予许可（定义见下文）给 lululemon。除非本条款或 lululemon 隐私政策另有明确规定，否则您同意您提供的有关公司微商城和 App 的提交内容是基于非专有、非保密的原则提供的。您同意 lululemon 可以自由将提交内容用于为您和其他人提供公司微商城和 App 及其功能的使用权以及用于为您提供相关的产品和服务，您授予 lululemon（在任何媒介中，无论当前已知还是当前未知或未发明）链接、利用、使用、公开表演、公开展示、复制、传播、编辑、改编、修改提交内容和编制衍生作品的可再许可、可转让、永久、非排他的全球免版税许可（“许可”）。此外，若任何提交内容含有您或任何其他人的姓名、出生日期、身份证件号码、个人生物识别信息、住址、电话号码等（“人身权利”），您特此授予并将促使该其他人授予 lululemon（在任何媒介中，无论当前已知还是当前未知或未发明）在法律允许的范围内利用或使用该人身权利为 lululemon产品和服务（在任何媒介中，无论当前已知还是当前未知或未发明）做广告或营销的许可。提交内容应视为非保密信息，lululemon 没有义务将该等提交内容视为专有信息处理，除非根据 lululemon 隐私政策处理个人身份识别信息。您的提交内容的版权或其他知识产权的所有权仍属于您，仅受限于本使用条款中授予的许可。</p>
<p>您还同意您不会上传、发布或以其他方式在公司微商城和 App 上提供受第三方拥有的版权、商标、专利、商业秘密或任何其他所有权保护的任何材料，除非得到该版权、商标、专利、商业秘密或任何其他所有权的拥有人明确许可，并且确定材料是否受该等权利保护的责任在您。对于您的账户、或版权、商标、专利或其他所有权侵权、或触犯隐私或公开权造成的损害或您的提交内容造成的其他伤害，您应负全责。</p>
<p>您声明和保证：(i) 您拥有您在或通过公司微商城和 App 发布的所有提交内容，或者您有权授予 lululemon 本节所述许可；(ii) 您的提交内容准确无误且没有误导性；(iii) 在或通过公司微商城和 App 发布您的提交内容不会侵犯任何个人或实体的隐私权、公开权、商标权、版权、契约权或任何其他权利，也不会触犯任何适用法律、规则、法规或法令。您同意支付由于您在或通过公司微商城和 App 发任何提交内容而应付给任何人的所有版税、费用、赔偿和任何其他款项。当提交内容或以其他方式使用公司微商城、App 和/或服务时，您同意不做出（不限于）以下行为：</p>
<p>使用公司微商城和 App 时使用技术或其他手段访问公司微商城和 App 或未经 lululemon 授权的其他内容；</p>
<p>使用虚假电子邮箱、假装任何人或实体或以其他方式误导内容来源；</p>
<p>试图引入病毒或会打断、破坏或限制任何计算机软硬件或电子通信设备功能的任何其他计算机代码、文件或程序；</p>
<p>做出实际或可能对 lululemon 基础设施造成（是否造成由 lululemon 自行判断）不合理或不合比例的高负载的任何行为；</p>
<p>试图对 lululemon 计算机网络或用户账户进行未经授权的访问；</p>
<p>怂恿将构成刑事犯罪或者引起民事责任的行为；</p>
<p>试图损坏、禁用、损伤 lululemon 服务器或网络或使之超负荷；</p>
<p>不遵守适用的第三方条款；</p>
<p>诽谤、虐待、骚扰、跟踪、威胁他人或以其他方式侵犯他人的合法权利（例如隐私和公开权）；</p>
<p>使用种族或民族歧视的或其他冒犯性的语言；</p>
<p>讨论或煽动违法活动；</p>
<p>使用露骨/淫秽的语言或要求/发布色情图片（不论真实或模拟）；</p>
<p>发布剥削儿童或未成年人或展现动物虐待的任何内容；</p>
<p>未经版权或商标所有人的明确许可，发布任何受版权或商标保护的材料；</p>
<p>未经本人的明确许可（若是未成年人，则是未经其父母或法定监护人的明确许可），发布任何人的姓名、肖像、声音或生平信息；</p>
<p>传播任何未经要求或授权的广告、宣传材料、“邮寄宣传片”、“垃圾邮件”、“连环信”、传销、违法直销或任何其他形式的此类兜售；</p>
<p>使用任何网络机器人、网络蜘蛛、抓取工具或其他自动手段访问公司微商城或 App；</p>
<p>篡改其他人在公司微商城和 App 上发布的观点、目标、个人资料或评论。</p>
<p>以上禁止行为列表只是举例，并不详尽。lululemon 保留根据自行判断采取以下措施的权利：(a) 终止您对您账户的访问；(b) 终止您发布内容到公司微商城或 App（或服务）的能力；(c) 拒绝、删除、修改、编辑或移除任何提交内容；这些措施可以有或没有根据、有或没有通知、出于任何原因或毫无原因、或者是针对 lululemon 认为不恰当或妨碍公司微商城和 App 或公司微商城和/或服务的任何其他用户的任何行为。如有可能违法的任何行为或收到此类行为的报告，lululemon 可能向执法机构报告。当法律要求或 lululemon 根据自行判断认为合适，lululemon 将配合执法机构对公司微商城、App 或互联网上被指控的违法活动进行调查。</p>
<p>对于您或任何第三方发布或上传的任何提交内容或者您可能遇到的任何错误、诽谤、中伤、侮辱、遗漏、虚假内容、淫秽内容、色情内容或咒骂，lululemon 概不负责。作为互动服务的提供商，lululemon 只是一个平台，因此对其用户在任何公共平台或个人主页上提供的任何陈述、声明或提交内容概不负责。</p>
<p>这些禁止行为并不要求 lululemon 监督、管理或移除您或任何其他用户提交的任何提交内容或其他信息。</p>
<p>9. 反馈意见</p>
<p>如果您提交有关我们产品和服务的任何反馈意见或想法到公司微商城，您特此转让并同意转让该等反馈意见的所有权利、所有权和权益给 lululemon。</p>
<p>10. 修改</p>
<p>提供或发布在公司微商城和 App 上的任何内容可以随时以及不定时修改或中止，无需通知也无需对您承担义务。在不限制前述规定的情况下，lululemon 保留根据自行判断随时以及不定时对使用、购买或访问通过公司微商城和 App 提供的任何产品、服务或内容收费的权利。</p>
<p>11. 赔偿</p>
<p>您同意使 lululemon、其附属机构及各自的董事、高管、员工和代理商免于承受因您的账户、您使用公司微商城和 App 以及您的提交内容及其中任何人身权利引起的任何损失、责任、主张和费用（包括律师费、法律费用等）。</p>
<p>12. 第三方网站链接</p>
<p>公司微商城和 App 可能含有由除 lululemon 以外的第三方运营的网站和其他资源的链接。此类链接仅为了您的方便而提供。lululemon 不控制该等网站、也不对任何第三方提供的内容、产品、服务或信息负责。公司微商城和 App 上包含该等网站的链接不代表对任何网站或任何第三方提供、宣传、支持或推广的或内容、产品和服务或者对任何公司或个人的任何支持。若您决定访问任何第三方网站或购买任何第三方产品或服务，您应自担风险，并且您可能要遵守该等第三方实施的条款和条件以及隐私政策。</p>
<p>13. 保证与免责条款</p>
<p>公司微商城、App、提交内容以及通过公司微商城和 App 提供的任何内容（包括链接）均为“按原样”和“按现状”提供，不做任何形式的保证。在法律允许的最大范围内，对于公司微商城、App、提交内容、内容和任何产品或服务，lululemon不做所有明示或暗示的声明、保证和条件，包括但不限于商销品质、适销性、耐用性、特定用途适用性、所有权、不侵权、无错误、遗漏、计算机病毒或其他恶意或未授权代码或程序的限制、保证或条件以及在交易过程或履行过程中引起的暗示保证或条件。此外，lululemon也不声明或保证公司微商城、App、提交内容、内容或可通过公司微商城或 App 访问的任何产品、服务或任何其他信息是可靠、准确、完整或当前有效的，或者任何特定产品或库存在任何特定店铺有售。您使用公司微商城和 App 的条件是您向 lululemon 保证您不会将公司微商城和 App 用于违法或本使用条款禁止的任何目的。</p>
<p>此外，公司微商城和 App 可能含有排印上的错误或不准确之处，并且可能不完整或不是当前有效。因此，lululemon保留随时在无通知的情况下纠正任何错误、不准确之处或遗漏（包括在订单已提交之后）并更改或更新信息的权利。请注意，这些错误、不准确之处或遗漏可能是关于定价和库存，在适用法律允许的范围内，lululemon保留取消或拒绝接受根据不正确定价或库存信息所下订单的权利。不便之处，敬请见谅。</p>
<p>此外，若任何产品因任何原因在订单受理之后无法提供，lululemon可能终止订单并向您发出书面通知。在此情况下，lululemon将与您联系，安排退款或提供用于未来购买的积分。不便之处，敬请见谅。</p>
<p>14. 责任限制</p>
<p>lululemon及其母公司、附属机构、关联公司，及其各自的高管、董事、员工、代理商、供应商、许可方和第三方合作伙伴对任何间接、特殊、惩罚性、附带、惩戒性、成倍、后果性损害、利润或收益损失或未能实现预计节省或者任何形式的损害不承担任何责任（无论该方是否之前已被告知可能有该等损害，也无论是根据合同、侵权责任（包括过失）还是任何其他理论），包括但不限于源自或关于公司微商城、App 的不可提供或不可用、错误、遗漏、病毒和恶意代码的任何损失或其他损害。即使未能实现任何有限救济的基本目的，这些限制仍适用。</p>
<p>有些法律不允许对暗示保证或条件施加限制，或对部分损害进行排除或限制。若这些法律适用，则部分或全部上述免责条款、排除或限制可能不适用于您，您可能拥有除此处所述权利之外的其他权利。</p>
<p>15. 版权和商标侵权</p>
<p>通知：</p>
<p>lululemon 尊重他人的知识产权，并希望您也这么做。lululemon 可能（在适当情形下并根据我们的自行判断）终止向侵犯他人知识产权的用户提供服务并终止其对公司微商城和 App 的访问。如果您认为您的作品是版权侵权和/或商标侵权案件的对象并且出现在公司微商城或 App 上，请向 lululemon 指定代理人提供根据《中华人民共和国商标法》、《中华人民共和国著作权法》或其他相关法律法规，足以证明侵权事实和侵权人的材料，包括但不限于：</p>
<p>您享有被指侵权的受版权保护和/或商标保护作品（或者如果一份通知涉及一个网站上的多项作品，则是该等作品在该网站上的代表性列表）的证据。</p>
<p>被指侵权或是侵权活动对象，以及足以让 lululemon 找到该材料的信息。</p>
<p>足以让 lululemon 联系提起投诉的您的信息，例如地址、电话号码以及（如有）可以联系到您的电子邮箱地址。</p>
<p>关于您真诚地认为被投诉材料的使用未经版权和/或商标所有人、其代理人或法律授权的声明。</p>
<p>通知内的信息准确以及您被授权代表被指侵权之所有权所有者、如有不实愿受伪证罪惩罚的声明。</p>
<p>有关公司微商城和 App 上版权或商标侵权主张的通知，可按以下方式联系 lululemon 代理人：</p>
<p>通过邮寄：</p>
<p>Attention: Brand Protection</p>
<p>1818 Cornwall Ave</p>
<p>Vancouver, BC</p>
<p>V6J 1C7</p>
<p>Canada</p>
<p>另请注意，根据中国相关法律法规，故意对材料或活动侵权做出重大谎报的任何人可能要承担法律责任。</p>
<p>16. 管辖法律</p>
<p>因公司微商城、App 和/或内容引发的所有诉讼、法庭程序、仲裁程序、调节程序、控诉、法庭听证会和其他听证会或诉讼必须且将以lululemon所在地有管辖权的人民法院作为唯一审判地。本使用条款以及您与 lululemon 之间的关系将由中国法律管辖，不考虑任何国家或地区的法律冲突原则。《联合国国际货物销售合同公约》(United Nations Convention on Contracts for the International Sale of Goods) 在任何情况下均不适用于本使用条款或本使用条款预期的交易。</p>
<p>17. 其他规定</p>
<p>若根据任何国家或地区的任何适用法律或规则，本使用条款的任何规定被裁定为在任何方面无效、不合法或不可执行，该无效、不合法或不可执行性不影响任何规定在任何其他国家或地区的效力或有效性，且本使用条款将在该国家或地区按该规定从未存在过一般进行修改、解释和执行。此处使用的标题仅为方便阅读而提供。本使用条款的官方语言应仅为中文，lululemon 与您之间的所有通信和协议以及与本使用条款和/或您使用公司微商城和 App 有关的任何诉讼应仅用中文进行。lululemon 和您放弃我们在任何其他法律下可能拥有的以其他语言表述本使用条款的权利，本使用条款的任何翻译仅为方便而提供。您同意本使用条款、公司隐私政策或公司微商城和 App 的任何使用不在您与 lululemon 之间形成任何合资、合作、雇用或代理关系。lululemon 根据现行法律和法律程序履行本使用条款，本使用条款或公司隐私政策包含的任何内容无损 lululemon 对您使用公司微商城和 App 或 lululemon 就该使用收到或收集的信息遵守执法要求或规定的权利。本使用条款和公司隐私政策构成您与 lululemon 之间关于公司微商城和 App 的完整协议，并取代所有之前的或同时发生的您与 lululemon 之间关于公司微商城和 App 的通信和提议，无论是电子、口头还是书面形式。</p>
<p>18. 礼品卡条款和条件</p>
<p>遵守法纪</p>
<p>购买 lululemon 供应的礼品卡（“礼品卡”），即表示您向 lululemon 证明并声明与所用礼品卡相关之活动将遵守本条款和条件以及礼品卡背面的条款和条件、统称为“礼品卡条款和条件”）、所有适用法律、规则和法规，并且礼品卡的使用不会对顾客具有误导性、欺骗性、不公平或有其他伤害。此外，您同意使 lululemon 及其子公司和附属机构免于承受因您使用礼品卡或违反礼品卡条款和条件而对他们提起或他们引起的任何主张、费用或责任。您同意使 lululemon 免除因您使用礼品卡或违反礼品卡条款和条件而导致您有或可能有的或因此引起的任何主张、费用或责任。</p>
<p>兑换</p>
<p>礼品卡只能在中国大陆lululemon 零售店用于购物。每次购物后从礼品卡余额中减去该次购物的金额。若购买金额超过余额，差值必须以现金或 lululemon 接受的其他付款方式支付。</p>
<p>余额查询</p>
<p>如需查询余额，请联系我们。</p>
<p>退货</p>
<p>使用 lululemon 礼品卡购买商品的所有退货将以积分的形式发放到礼品卡或发放一张具有退货金额的新礼品卡。</p>
<p>我们的政策</p>
<p>礼品卡不可退换、转售、转让、兑现或用于任何其他账户，除非法律规定。礼品卡不可更换或兑现，除非余额不足100人民币或法律另有规定。可销售礼品卡的额度介于 10.00 人民币至 1000 人民币之间。礼品卡永不过期，且礼品卡本身无工本费。建议顾客仔细阅读礼品卡条款和条件。</p>
<p>损失风险</p>
<p>礼品卡的损失风险和所有权自销售之时起转移到购买者。礼品卡类似于现金。对于礼品卡丢失、失窃、损毁或未经您的许可被使用，我们概不负责。我们无法跟踪它们，也不会提供退款。</p>
<p>欺诈</p>
<p>若 lululemon 认为礼品卡是以不实手段获得，lululemon 将有权关闭顾客账户并要求其他付款形式。</p>
<p>不可用于宣传</p>
<p>lululemon 礼品卡可以作为个人或企业礼品卡使用，但不可用于任何营销、广告或其他宣传活动（包括但不限于通过网站、互联网广告、电子邮件、电话营销、直邮广告、报纸杂志广告、广播电视播出）。</p>
<p>与 lululemon 毫无关联</p>
<p>在 lululemon 礼品卡购买或使用的过程中，严禁使用 lululemon（或其任何子公司或附属机构）的名称、徽标、商品外观（包括卡片的任何图片/外观）或商标。此外，禁止在使用 lululemon 礼品卡时声明或暗示任何个人、网站、企业、产品或服务受 lululemon 或其任何子公司或附属机构支持或赞助或与其有任何关联。</p>
<p>责任限制</p>
<p>lululemon 对礼品卡不做任何明示或暗示的保证，包括但不限于对适销性或特定用途适用性的任何明示或暗示保证。若礼品卡代码无法正常使用，您的唯一救济以及我们的唯一责任是更换该礼品卡。部分法律不允许暗示保证的限制或某些损害的排除或限制。若这些法律适用于您，则部分或全部上述免责条款、排除或限制可能不适用于您。</p>
<p>纠纷</p>
<p>代表一方或多方寻求救济的索赔总额所在礼品卡相关的任何纠纷应在lululemon所在地有管辖权的人民法院诉讼解决，您同意这些法院拥有专属管辖权。</p>
<p>一般条款</p>
<p>当您购买、收到或兑换 lululemon 礼品卡时，您同意中国法律（不考虑法律冲突原则）管辖本礼品卡条款和条件。lululemon 保留随时根据自行判断更改礼品卡条款和条件的权利。所有礼品卡条款和条件在法律允许范围内适用。</p>
<p>19. 应用程序（“App”）</p>
<p>Apple 条款和条件；lululemon 政策</p>
<p>本条款补充和包含：(a) 若适用，Apple, Inc.（“Apple”）条款和条件（网址：www.apple.com/legal/itunes/us/terms.html#service），包括但不限于其中的“许可应用程序最终用户许可协议”(Licensed Application End User License Agreement)（“Apple 条款”）；(b) 其他 lululemon 政策（“lululemon 政策”），包括公司微商城的使用条款（统称为本“条款”）。若 Apple 条款和条件或任何适用 lululemon 政策中有任何规定与本条款冲突，则以本条款为准，但仅限于该条款适用于 App 的情况。</p>
<p>用户信息和 App</p>
<p>关于您使用 App 方面，您声明您已年满十八 (18) 岁。您还同意：(a) 在注册时提供关于您的真实、准确、当前有效、完整的信息（“注册信息”）；(b) 维护和及时更新注册信息，使其保持真实、准确、当前有效、完整。</p>
<p>保持登录状态</p>
<p>您可以选择使用“保持登录状态”功能，这样当 App 关闭后您仍保持登录状态，避免了每次打开 App 时重新输入登录信息。若您选择使用这个选项，您明白访问您的移动设备的任何人都将能够访问和使用 App 上的所有功能，包括付款功能。</p>
<p>运营商收费</p>
<p>您特此同意和确认您使用 App 可能涉及数据收费，此费用由您承担，属于您与您的无线服务提供商之间的关系。</p>
<p>设备丢失或失窃</p>
<p>对于您的移动设备被他人擅自使用，包括移动设备可能已经丢失或失窃（即使您已将移动设备丢失或失窃一事通知 lululemon）的情况下做出的移动支付，lululemon 不承担任何责任。</p>
<p>用户许可</p>
<p>在本条款的约束下，lululemon 授予用户非排他、不可转让、有限、可撤销的个人许可，仅限用户在用户拥有或控制的任何 Apple iPhone、iPad 或 iPod Touch（分别称为“设备”）上根据 Apple 条款中的“使用规则”允许以及本条款将 App 用于个人和/或非商业用途（“用户许可”），或者在以后可能支持 App 使用的任何其他设备上根据该设备的条款和条件（应相应提供给用户）使用 App。禁止以任何其他方式使用 App，包括但不限于对 App 或与其相关的文本、图片、音乐、条形码、视频、数据、超链接、显示和其他内容的限制、转售、转让、修改或传播。本协议和用户许可还适用于 App 的任何更新、补充或更换，除非该更新、补充或更换附带独立条款，此时以独立条款为准。</p>
<p>用户信息的隐私性</p>
<p>App 的部分功能（包括基于位置的服务和功能）可能要求传输用户提供的个人信息，包括用户的姓名和密码、地址或电子邮箱（“用户信息”）。若用户使用此类 App 功能，则用户同意 lululemon 收集用户信息，同意用户信息被传输给 lululemon 及其代理商和/或服务提供商，并授权 lululemon 及其代理商和/或服务提供商记录、处理和储存 App 功能运行以及 lululemon 隐私政策所述目的所需的用户信息。</p>
<p>对于因 App 相关事宜从设备传输或储存在设备上的任何用户信息，为其保密并保护其安全的全部责任由用户承担。如发生任何安全问题，用户同意立即通知 lululemon。对于从设备传输或储存在设备上的任何用户信息丢失或失窃或与 App 相关的未授权或欺诈性交易引起的任何损失，lululemon 不承担任何责任，除非该未授权或欺诈性交易是由 lululemon 违反其在隐私政策、本条款和 lululemon 政策下的义务、lululemon 的过失或故意渎职引起的。</p>
<p>用户的个人信息将由 lululemon 根据隐私政策所述方式进行储存和保护。有关我们如何收集、使用和披露 App 相关信息的更多内容，请查阅 lululemon 隐私政策。</p>
<p>合理的使用、浏览和用户提交的其他内容</p>
<p>用户使用 App 及其任何内容以及因 App 传输的用户信息的使用受到预期功能的限制。用户同意其使用 App 及任何内容必须遵守本条款、Apple 条款和 lululemon 政策。</p>
<p>第三方受益人</p>
<p>Apple 及其子公司是本条款的第三方受益人。自用户接受本条款起，Apple 将有权（且将被视为已接受该权利）以本条款第三方受益人的身份对用户执行本条款。</p>
<p>价格和数量</p>
<p>公司微商城中显示的价格和数量等仅对通过公司微商城的购物有效，并可能与其他渠道价格不同。价格和存货信息可能有变，恕不另行通知。lululemon 极其谨慎地确保我们的广告准确，但错误仍有可能发生。发现错误后，lululemon 将尽快纠正并通知受影响的客户。必要时，可能会在发货前取消订单。所有价格为人民币。lululemon 保留限定数量的权利。公司微商城中显示的所有产品不一定在实体店都有售，因为有些产品是微商城特供的。</p>
<p>20. 问题或疑虑</p>
<p>如果您对本站显示的材料有任何疑虑，请联系我们，您可以发送电子邮件给我们或者写信到以下地址：</p>
<p>露露乐蒙贸易（上海）有限公司</p>
<p>1818 Cornwall Ave</p>
<p>Vancouver, BC</p>
<p>V6J 1C7</p>
<p>Canada</p>
</body>
</html>
