<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>隐私说明</title>
<style type="text/css">
h5 {
	font-style: italic;
}
</style></head>

<body>
<h3><center>隐私政策</center></h3>
<h3>您的隐私:概述</h3>
<p>本隐私政策（本“隐私政策”）旨在向您说明【露露乐蒙贸易（上海）有限公司】及其关联公司（统称为<b>“lululemon”</b>）如何收集、使用、分享和保护您的个人信息及其他与您有关的信息，请您务必认真阅读。本隐私政策适用于lululemon通过www.lululemon.cn以及其各个子网站（统称为<b>“公司网站”</b>）、我们的零售门店（统称为<b>“公司门店”</b>）、我们的客人帮助中心（统称为<b>“GEC”</b>）、我们的移动应用程序、微信公众号、微信商城、淘宝lululemon官方旗舰店以及显示本政策的任何其他应用程序或服务（统称为<b>“公司服务”</b>）和我们可能收集个人信息的其他地点或途径向您收集的信息。本隐私政策还说明了您可以如何访问lululemon可能收集的部分您的相关信息。</p>
<p>在本隐私政策中，“个人信息”指以电子或者其他方式记录的公民的姓名、出生日期、身份证件号码、个人生物识别信息、职业、住址、电话号码等个人身份信息，以及其他能够单独或者与其他信息结合能够识别公民个人身份的各种信息。</p>
<p>请注意公司网站可能含有不由lululemon控制或运营的其他第三方网站的链接。本隐私政策不适用于此类第三方网站，lululemon对此类第三方网站的内容或此类第三方的隐私做法概不负责。因此，您需要在向任何第三方披露您的个人信息之前或在访问其网站时索取和阅读其隐私政策。我们对于我们链接到的其他网站或应用的内容或安全性不承担法律责任。</p>

<h3>同意</h3>
<p>向lululemon或其服务提供商和代理商提交个人信息，即表示您同意lululemon可能收集您的个人信息，并且您同意lululemon根据本隐私政策及相关法律法规使用、披露和转移您的个人信息。根据法律和合同要求，您可根据以下“联系我们”部分所列的方式与我们联络，随时拒绝或撤销您对本政策中指出的部分目的的同意。如果您拒绝或撤销您的同意，您确认lululemon 可能无法继续向您提供您可能重视的部分服务或信息。</p>
<h3>本隐私政策的修订</h3>
<p>lululemon 保留根据lululemon 的自行判断随时以及不定时修改、修订、添加或删除本隐私政策部分内容的权利。如果您在该修订之后继续使用公司网站和公司服务，lululemon将视为您接受修订后条款。如果您不接受修改后的条款，应停止继续使用服务。所有修订将发布在公司网站上，并将适用于发布之日起收集的任何个人信息。lululemon 如欲收集、使用或披露您的个人信息用于已获同意目的之外的其他目的，lululemon 将获取适用隐私法律规定的必要同意，除非法律另有规定。</p>
本隐私政策最后更新于【2018】年【6】月【13】日
<h3>收集您的信息</h3>
<h5>信息收集方式</h5>
<p>lululemon可能通过如下方式收集您的个人信息：</p>
<ul>
<p>  <li>通过您在公司网站或公司门店、GEC、微信公众号、微信商城、淘宝lululemon官方旗舰店、我们的移动应用程序注册登记或填写表格时收集相关信息。这包括在您索取有关lululemon产品和服务的更多信息或者登记接收lululemon电子邮件期刊或优惠券时，您可能提供的信息；</li></p>
 <p> <li>通过您下载和使用我们的移动应用程序收集相关信息</li></p>
 <p> <li>通过您将个人资料或健身目标上传到公司网站时收集相关信息；</li></p>
 <p> <li>在您购买lululemon的任何产品或服务（无论是在公司门店、 GEC 或是公司网站）时收集相关信息；</li></p>
 <p> <li>在您提供设计或产品反馈或提交其他内容到lululemon时收集相关信息；</li></p>
 <p> <li>在您向lululemon索取信息或请求帮助时收集相关信息。lululemon还可能保留一份您发送的通信或信函的副本（如电子邮件通信）；    </li></p>
 <p> <li>在您参加或回答对lululemon 产品和服务的观点、担忧和喜好的消费者问卷调查或请求时收集相关信息；</li></p>
 <p> <li>在您参加消费者比赛、抽奖和其他宣传活动时收集相关信息；</li></p>
 <p> <li>在您使用公司网站或公司服务的其他功能时收集相关信息，这些功能的使用可能以提供相关信息为前提（包括但不限于“使用条款”中定义的提交内容）；</li></p>
 <p> <li>以及我们可能通过其他合法来源获得您的个人信息及其他信息，如通过公共数据库、社交媒体（如微信、微博）以及我们的合作伙伴（如天猫）、第三方服务供应商、承包商及代理等。 </li></p>
</ul>
<h5>信息收集范围</h5>
<p>lululemon可能收集的个人信息可能包括您的姓名、用户名、密码、电子邮箱地址、年龄、出生日期、性别、地址、电话号码、信用卡和借记卡号码（包括有效期）、位置信息、IP 地址、设备唯一识别号、您的社交公开信息（如微信/新浪账号头像及昵称）、购物和浏览行为、个人喜好以及您选择列举在您“个人资料”里的其他个人信息、向lululemon 提交的健身目标、图像信息或您在与lululemon 的其他通信中包含的任何其他个人信息。lululemon 还可能收集您的行为信息，包括但不限于用户访问公司网站和服务的频率、用户访问公司网站和服务的路径、公司网站和服务上可用之任何超链接的使用情况。</p>
<p>此外，lululemon 可能还向公司服务（例如我们的移动应用程序，详见下文“移动应用程序”部分）的用户收集其他信息。您声明和保证您有权提供您向lululemon 提供的任何信息（包括其他个人的任何个人信息）已获得所有必要同意。</p>
<h5>移动应用程序</h5>
<p>lululemon 可能不定时提供移动应用程序供用户下载和使用。下载和/或使用这些移动应用程序即表示您同意任何适用的使用条款，此条款应在您下载移动应用程序时提供给您，并在您使用该移动应用程序期间随时可用并可用于本隐私政策。您可能被要求提供个人信息方可使用移动应用程序，包括您的姓名、电子邮件和密码。您将可以选择是否在您使用移动应用程序期间提供其他个人信息，例如您的照片、您的实际位置、您的出生日期和您的性别。</p>
<p>如果您已通过您的设备允许我们收集位置信息，则lululemon可能获得来自 GPS、Wi-Fi 或手机发射塔等技术的精确实际位置。您可以通过设备设置撤销允许lululemon从您的设备获得精确位置信息的许可，但lululemon不会控制这个过程。移动应用程序可能使用该应用程序的地理位置功能（基于 GPS 或网络）来支持您使用基于位置的工具，例如定位您附近的课程、教师和健身房。</p>
<p>我们有些移动应用程序可能允许您连接【微信、新浪微博等第三方社交软件】并将您的【微信、新浪微博等第三方社交软件】信息（例如您好友的姓名以及您设备上的通讯录，统称为“您的联系人信息”）导入到应用程序中，以便允许您邀请这些人下载应用程序或邀请他们参与某些活动，例如瑜伽班。如果您同意将我们的移动应用程序连接【微信、新浪微博等第三方社交软件】并分享信息和您的联系人信息，则您授予lululemon出于隐私政策本条所述目的访问和使用这些信息的许可。您还声明和保证您有权向lululemon分享和传输您的联系人信息，并且lululemon将您的联系人信息用于本条所述目的不会侵犯任何第三方的权利。请注意，lululemon 不以任何方式控制【微信、新浪微博等第三方社交软件】向您收集的信息。</p>
<p>您将可以选择是否部分或完全停用我们的任何移动应用程序或撤销授予lululemon 的任何许可，在任何此类情况中，lululemon 将销毁其持有和在您使用该移动应用程序期间已收集的个人信息和使之永久无法识别个人身份。</p>
<h5>COOKIES</h5>
<p>和许多网站一样，lululemon使用“Cookies”记录您对公司网站的访问和您对公司服务的使用。Cookies 是网络服务器传输并储存在您的计算机硬盘或移动设备上的小型文本文件。它只能由发送它的服务器读取。这种信息不会识别您的个人身份，您仍保持匿名，除非您以其他方式向lululemon提供了个人信息。</p>
<p>Cookies可帮助lululemon完善公司网站和服务，并通过使lululemon可以预估受众规模和使用模式，从而提供更具针对性的服务；储存关于您喜好的信息；提高您的搜索速度；当您返回公司网站或使用公司服务时可以认出您。</p>
<p>大部分网络浏览器是自动接受 Cookie的。如果您希望阻止您的计算机接受lululemon 的 Cookies，您可以按您的网络浏览器的操作步骤进行设置。但是请注意，如果您禁用了浏览器 Cookie，您可能无法访问公司网站或服务的某些部分。</p>
<h5>IP 地址</h5>
<p>IP地址是计算机的数字地址，通过它可以在网络内定位这台计算机。lululemon 可能在您访问或使用公司网站上的服务或功能时记录您的IP地址。lululemon 可能将您的 IP 地址用于上文所述目的，以及诊断lululemon服务器的问题，或者管理公司网站。lululemon还可能在lululemon认为有必要加强对本隐私政策或“使用条款”的符合性时使用您的 IP 地址识别您，或者用于保护公司网站、公司服务、系统、信息、员工、服务提供商、业务合作伙伴、用户、客户或其他方。</p>
<h5>第三方分析和跟踪</h5>
<p>lululemon 使用第三方提供的自动化设备和应用程序来评估公司网站和服务的使用情况，我们还可能使用其他分析手段评估公司服务。我们使用这些工具帮助我们改善公司服务、性能和用户体验。这些实体可能使用 Cookie 和可收集信息的其他跟踪技术来开展他们的服务。我们不与这些第三方分享我们直接收集的个人信息。但是，这些第三方可能通过使用 Cookie 和其他跟踪技术直接收集个人信息。</p>
<p>请注意，这些第三方使用 Cookie——即储存在您的计算机上的文本文件，可以导致对您使用公司网站的情况进行分析。您可以阻止由 Cookie 产生的关于您使用公司网站的数据（包括您的 IP 地址）被收集，并通过下载和安装浏览器插件阻止 Google 处理这些数据。</p>
<p>lululemon收集公司网站上的事务信息和浏览行为。lululemon可能使用这些信息向您推荐您感兴趣的产品和服务。lululemon使用可信第三方的服务在您上网期间向您提供有意义的推荐。lululemon与第三方服务提供商以汇总的方式分享 IP 地址、设备唯一识别号、购物和浏览行为等个人信息。</p>
<p>lululemon还与使用跟踪技术的可信第三方合作，由其代表我们在互联网上做广告。这些公司可能使用 Cookie 和跟踪像素收集不可识别个人身份的信息，例如浏览的产品、添加到购物车的产品以及访问公司网站期间购买的产品，从而在其他网站上显示您可能感兴趣的广告。如果您需要此做法的更多信息或希望停止使用您的匿名信息，请访HTTP://WWW.NETWORKADVERTISING.ORG。</p>
<h4>保护您的信息</h4>
<p>为阻止未授权访问或披露、保持数据准确性和促进信息的正确使用，lululemon使用物理的、技术的和行政程序来保护lululemon收集的信息，防止发生丢失、未授权访问、修改、披露或其他滥用的情况。</p>
<p>尽管如此，互联网或无线传输无法做到完全保密或安全。您明白您发送到公司网站或通过公司服务发送的任何消息或信息可能被其他人读取或拦截。如果您对lululemon 收集的个人信息的安全性有任何问题，您可根据以下“联系我们”部分所列的方式与我们联络。</p>
<p>您还应知晓，公司网站和服务的某些方面不是保密的，可以供公众浏览。例如，公司网站和服务的其他用户将可查看您向公众开放的个人资料和健身目标。您发布到任何公开博客或公司网站和服务的其他公开功能的任何内容都不保密，可能被公司网站和服务的其他用户查看。通过网站和服务允许您进行个人信息公开，即表示您同意lululemon或其服务提供商和代理商的公布相关内容。关于可能适用于您的用户提交内容的更多规定，请参考“使用条款”。</p>
<h4>使用您的信息</h4>
<p>向lululemon提供您的个人信息，即表示您同意lululemon可以在内部，单独或结合已有信息将这些个人信息用于以下目的：</p>
<ul>
  <p><li>为了开发、改进、推广、销售我们的产品或服务；</li></p>
  <p><li>为了建了和开展商业关系（如对交易进行处理），以及管理您与lululemon之间通过公司门店、通过公司网站，通过 GEC 或通过公司服务发生的交易；</li></p>
  <p><li>为了开展或管理您已经参与的比赛、抽奖或其他宣传活动；</li></p>
  <p><li>为了与您联系和回复您之前与我们的任何通信；</li></p>
  <p><li>为了解决公司网站和服务的故障问题；</li></p>
  <p><li>为了进行数据分析，了解用户特征，以向您推荐您可能感兴趣的内容，或让您在公司网站得到个性化的体验；</li></p>
  <p><li>为了发展和管理lululemon的业务和运营；</li></p>
  <p><li>为了实施lululemon的“使用条款”或本隐私政策；</li></p>
  <p><li>为了侦测错误、过失、违约、欺诈、盗窃和其他违法行为，或为了审计lululemon政策和合同义务的符合情况，并保护lululemon和其他第三方不受以上损害；</li></p>
  <p><li>为了合并、收购或资产出售等交易的需要，我们可能会将您的个人信息进行转让，在转移您的个人信息前，我们会给予您适当通知，并确保您的个人信息在转让后得到与本隐私政策相当的保护；</li></p>
  <p><li>为了法律、法规允许且要求的目的；如果法律或法律程序要求，或者lululemon根据自行判断决定下述行为保护lululemon、第三方和公司网站的其他用户所必需，或者为了回复您的客户服务请求而有必要采取下述行为，lululemon可访问、保存、披露和使用您的账户中您的个人信息、所有提交内容（定义见“使用条款”）、所有与您的通信、您使用公司网站的所有相关信息；以及您同意的任何其他目的。</li></p>
  </ul>
  <p>我们可能会对信息进行匿名化处理。经过处理无法识别特定个人且不能复原的信息的使用及分享不受上述目的限制，我们可能为任何法律允许的目的使用或分享此信息。</p>
  <p>我们将您的个人信息存储在位于中国境内、外的服务器及共有云上。<b>【为本隐私政策规定的目的，在履行法律、法规规定的数据出境安全评估义务后，我们有可能传输该等信息至我们在境外关联公司等境外主体。】</b>向lululemon提供您的个人信息，即表示您同意 lululemon收集的您的个人信息可以在中国、美国、加拿大、中国香港特别行政区、澳大利亚、等国家地区传输、储存和处理。当在其他国家或地区处理时，信息可能被该地的法院、执法机构和国家安全机构访问。</p>
<p>lululemon将根据法规规定保留您提供的个人信息。若保留个人信息不再为lululemon的业务目的所必需，lululemon将采取合理措施删除其持有的个人信息或使之永久无法识别个人身份。</p>
<h4>披露您的信息</h4>
<p>向lululemon提供您的个人信息，即表示您同意lululemon可以将您的个人信息在如下情况下向第三方分享：</p>

<ul>
  <p><li>向lululemon子公司或附属机构和受lululemon雇用以代表lululemon提供服务的第三方进行分享，以提供如下服务：支持服务、网站服务、提供宣传材料、比赛、抽奖和其他宣传活动、回答客户关于lululemon产品和服务的问题等。这些子公司、附属机构和第三方可能位于境外。lululemon将只向这些第三方提供其向或代表lululemon提供服务所需要的个人信息。未经事先明确同意，lululemon不会因为第三方的直接促销目的而将您的个人信息披露给第三方；  </li></p>
  <p><li>为合并、收购或资产出售等交易的需要，我们可能会将您的个人信息进行转让，在转移您的个人信息前，我们会给予您适当通知，并确保您的个人信息在转让后得到与本隐私政策相当的保护。  </li></p>
  <p><li>lululemon披露您的个人信息给管理lululemon全部或部分业务或运营的法律、金融、保险或其他顾问公司：  </li></p>
  <p><li>您不定时同意的目的，包括完成收集个人信息时说明的任何其他目的；  </li></p>
  <p><li>在法律要求或允许的范围内，为保护我们及其员工、服务的用户或公众的权利、财产或安全免遭损害而在分享您的信息；以及法律允许或规定的其他目的。</li></p>
  </ul>

<h4>保留您的个人信息</h4>
<p>lululemon 将根据适用法律保留您提供的个人信息。但是，若 lululemon 的业务目的不再需要，lululemon 将采取合理措施销毁其持有的个人信息或使之永久无法识别个人身份。</p>
<h4>儿童隐私</h4>
<p>lululemon认可儿童的隐私权益，lululemon建议父母和监护人在子女的在线活动和权益中扮演积极的角色。公司网站、公司门店、GEC、公司服务、微信公众号、微信商城、天猫lululemon官方旗舰店不适合 18 岁以下儿童,不以 18 岁以下儿童为受众。lululemon不会故意向未满18岁的儿童收集个人信息。</p>
<h4>选择和退订</h4>
<p>除非您选择提供，否则lululemon不会收集您的个人信息。若您不想继续收到lululemon的电子邮件通信（除了您特别邀请的信息、产品或服务），lululemon 发送给您的每一封群发邮件中都提供有一个链接，供您取消订阅该通信。若您不想收到lululemon的任何其他形式的通信，您可以联系 gec@lululemon.cn 取消订阅该通信。</p>
<h4>访问权和纠正</h4>
<p>lululemon将采取合理措施确保其持有的个人信息是准确、完整、最新有效的。若您提出书面要求，则除了法律规定的部分例外情况，lululemon会将您的个人信息的存在、使用和披露通知您，并向您提供这些信息的访问权。此外，如果您有关于我们的隐私做法或程序的任何问题或咨询，或者您认为 lululemon所持有的您的个人信息不准确、不完整或不是最新有效的，您可以写信到隐私办公室，地址见下文。如果您可以证实该信息不准确、不完整或不是最新有效的，lululemon将采取合理措施纠正信息，使其准确、完整且最新有效。</p>
<h4>访问权和纠正请求、问题或意见</h4>
<p>lululemon 欢迎您对本隐私政策提出问题和意见。对您个人信息的访问权和纠正的请求以及问题和意见由 lululemon 隐私办公室负责，地址：</p>
 &nbsp;&nbsp;lululemon
 <br />
 &nbsp;&nbsp;Attention: Privacy Officer
 <br />
 &nbsp;&nbsp;1818 Cornwall Avenue
 <br />
 &nbsp;&nbsp;Vancouver,BC
 <br />
 &nbsp;&nbsp;V6J 1C7
 <br />
&nbsp;&nbsp;Canada
<br />
<p>&nbsp;&nbsp;Email: <a href="mailto:privacyofficer@lululemon.com">privacyofficer@lululemon.com</a></p>
</body>
</html>
